.container,.go{
  background-color:#300000;
}
.title{
  margin-left:25% ;
}
.video{
  margin-left:10% ;
}
.character{
  margin-left:40% ;
}
.picture-title{
  weight:300px;
  height:300px;
  margin-left:5% ;
}
.story{
  color:white;
  margin-left:20% ;
  margin-right:20% ;
}
.section-title,.video-title,.character-title,.picture-title{
  color:white;
}
aside{
    width:300px;
}
img.picture1{
  weight:300px;
  height:300px;
  margin-left:0% ;
}
img.picture{
  weight:300px;
  height:300px;
  margin-left:10% ;
}
img.picture2{
  weight:300px;
  height:300px;
  margin-left:30% ;
}
.word{
  color:white;
}
.go{
  background-color:#300000;
}
.word2{
  margin-left:80% ;
  color:white;
}
